# Core dependencies for Object Detection Studio
streamlit>=1.28.0
opencv-python-headless>=4.8.0.74   # headless version for Streamlit Cloud
cvlib>=0.2.7
Pillow>=9.5.0
numpy>=1.24.0
pandas>=2.0.0
tensorflow>=2.13.0
tensorflow==2.13.0
tensorflow-hub==0.14.0

# Additional dependencies
matplotlib>=3.7.0
seaborn>=0.12.0



git add app_v2(yolo3).py requirements.txt app_v2(tf).py packages.txt
git commit -m "Switch to TensorFlow Hub for reliable object detection"
git push origin main
