streamlit==1.28.2
opencv-python-headless==4.8.0.74
cvlib==0.2.7
tensorflow-cpu==2.16.1
tensorflow-hub==0.16.1
numpy==1.26.4
Pillow==10.3.0
pandas==2.2.2
matplotlib==3.7.1
seaborn==0.12.2


# Additional dependencies
matplotlib>=3.7.0
seaborn>=0.12.0
